<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAI</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="container">
        <header>
            
            <nav>
                <h2>Hay vida en otros planetas? Sistemas solares #286af0</h2>

                <nav>
                    <ul>
                       
                        <li><a href="/Home/Contact">Contacto</a> </li>
                      

                    </ul>
                </nav>
            </nav>
        </header>
        <section>
            <article>
                @RenderBody()
            </article>
        </section>

        <aside id="pub">
            <article>
                <div>
                    <h3>Titulo</h3>
                    <p>
                        Contenido relacionado
                    </p>
                </div>
            </article>
        </aside>
        <footer>
            <p>&copy; @DateTime.Now.Year - Norte Goffi Ricardo | Parcial 1</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
